<div> <!--Model Div Start-->
  <!-- Add New Country -->
  <div>
    <button class="btn btn-info active speechQuestionId" id='countryModelBtn'>Add New Speech Question</button>
  </div>
  <br/>
  <div id='myModel'class="modal fade" >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add New Speech Question</h4>
        </div>
        <div class="modal-body">
          <form action='' method="POST" id="form1" name="form1">
            <div class="form-group">
                <label for="word">Question Title:</label>
                <input type="text" class="form-control" id="question_title" name='question_title' placeholder="Ex: Question Title">
            </div>
            <div class="form-group">
                <label for="speechId">Speech Id:</label>
                <select class="selectpicker form-control contentOptions" data-live-search="true" id='speech_id' name='speech_id'>
                </select>
            </div>
            <div class="form-group">
                <label for="Synonyms">Minimum Score:</label>
                <input type="text" class="form-control" id="min_score" name='min_score' placeholder="Ex: 33.33">
            </div>

          </form>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning ">Reset</button>
        <button type="submit" form='form1' class="btn btn-success ">Submit</button>
      </div>
      </div>
    </div>
  </div>
</div> <!--Model Div End-->
