<div> <!--Model Div Start-->
  <!-- Add New Country -->
  <div>
    <button class="btn btn-info active" id='cityModelBtn'>Add New City</button>
  </div>
  <br/>
  <div id='myModel'class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add New City</h4>
        </div>
        <div class="modal-body">
          <form action='' method="POST" id="form1">
            <div class="form-group">
              <div class="row-fluid">
                <label for="countryName">Country Name:</label>
                <select name="country_id"class="selectpicker form-control" data-live-search="true" id="selectCountryName">
                </select>
              </div>
            </div>
            <div class="form-group">
                <label for="city">City Name:</label>
                <input type="text" class="form-control" id="city_name" name='city_name' placeholder="Ex: Dhaka">
            </div>
          </form>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning ">Reset</button>
        <button type="submit" form="form1" class="btn btn-success">Submit</button>
      </div>
      </div>
    </div>
  </div>
</div> <!--Model Div End-->
