<!--This HTML is responsible for change the site UI-->
<div>
  <div class="row">
      <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
              <li class="active">
                <a><i class="fa fa-database fa-fw"></i><b> Data Entry</b></a>
                <ul class="nav sub-menu">
                  <li><a id='country' href="/admin/dataEntry/country"><i class="fa fa-list-alt fa-globe fa-fw"></i> Country</a></li>
                  <li><a href="/admin/dataEntry/city"><i class="fa fa fa-building fa-fw"></i> City</a></li>
                  <li><a href="/admin/dataEntry/word"><i class="fa fa-file-word-o fa-fw" aria-hidden="true"></i> Word</a></li>
                  <li><a href="/admin/dataEntry/image"><i class="fa fa-file-image-o fa-fw" aria-hidden="true"></i> Image</a></li>
                  <li><a href="/admin/dataEntry/speech"><i class="fa fa-comments-o fa-fw" aria-hidden="true"></i> Speech</a></li>
                  <li><a href="/admin/dataEntry/paragraph"><i class="fa fa-paragraph fa-fw" aria-hidden="true"></i> Paragraph</a></li>
                </ul>
              </li>
              <li class="active" ><a><i class="fa fa-question-circle-o fa-fw"></i><b> Make Question</b></a>
                <ul class="nav sub-menu">
                  <li><a href="/admin/makeQuestion/speech"><i class="fa fa-commenting fa-fw" aria-hidden="true"></i> Speech Question</a></li>
                  <li><a href=""><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i> MCQ Question</a></li>
                  <li><a href=""><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i> Yes/No Question</a></li>
                  <li><a href=""><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i> Written Question</a></li>
                </ul>
              </li>
              <li class="active" ><a><i></i></a></li>
              <li><a href=""><i class="fa fa-tasks fa-fw"></i> Interactive Task</a></li>
              <li><a href=""><i class="fa fa-table fa-fw"></i> Set Question</a></li>
              <li><a href=""><i class="fa fa-tasks fa-fw"></i> Sugesitions</a></li>
          </ul>
      </div>
      <h3><span class="label label-default"><%= pageName %></span></h3>
      <div class="col-md-8 well"> <!--This is the div where i need to load all the requested pages -->

        <div class="container" id='dynamic_content'>

         <%- include(includeFile) %>
        </div>
      </div>
  </div>
</div>
