<div class=""> <!--Container Start-->
    <%- include('../adminControls/addNewControls/add_new_interactive_task') %>
    <%- include('../tables/interactive_task_table') %>
</div><!--Container Start-->
